
#popUpContent {
    top: 0;
    left: 0;
    margin: 1% 0 0 10%;
    display: inline-block;
    height: 600px;
    width:1050px;
    /*background: white;*/
    border-radius: 5px;
    position: fixed;
    align-content: center;

    background-color: #fffcf9;
}

#popUpContent .close {
    background: #edecd3;
    color: #484848;
    width: 20px;
    height: 20px;
    text-align: center;
    position: absolute;
    cursor: pointer;
    top: 0px;
    right: 0px;
}
#popUpContent .close:hover{
    background-color: #134568;
    color:white;
}

#popUpContent .contentPublication{
    display: inline-block;
    height: 600px;
    width: 1100px;

    padding: 0;
}

#popUpContent-bg {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}

.editMenu{
    display: inline-block;
/*    height: auto;
    width: auto;*/
    margin-top: 4px;
    vertical-align: middle;
}
.subEditMenu{
    display: block;
    height: 50px;
    width: 150px;
    margin-bottom: 6px;
    background-color: #edecd3;
    text-align: center;
    vertical-align: middle;

    color:black;

}
.subEditMenu > a{
    display: inline-block;
    height: 50px;
    width: 150px;
    text-decoration: none;
/*    vertical-align: middle;*/
    color:black;

}

.active1{
    background-color: #134568;

}
.active1 a{
    color:#edecd3;
}
.editForm{
    display: inline-block;
    margin-top: 4px;    vertical-align: middle;
}
textarea{
    resize: none;
    display: inline-block;
    height: 500px;
    width: 800px;
    border: none;
    background-color: #edecd3;
    margin-top: 30px;
    font-family: Times;
    font-size: 1.1em;
}
button{
    display: block;
    margin-top:20px;
    display: block;
    border: none;
    background-color: #edecd3;
    padding: 5px 10px;
    float: right;
}
button:hover{
    background-color: #134568;
}